body, html, div {

	margin: 0;
	padding: 0;

}

body {

font: 14px 'Verdana', 'sans-serif';

}

.ib {

	display: inline-block;
	vertical-align:top;

}

img { 


	max-width: 100%;
	
}

.cb {

	clear:both;

}

.interactive {

	cursor: pointer;

}

.hide {

	display: none;

}

.left {

	float: left;

}

.cursive {

	font-style: italic;


}

.right {

	float: right;

}

.null-rMargin {


	margin-right: 0px !important;

}

.null-lMargin {


	margin-left: 0px !important;

}

.null-tMargin {


	margin-top: 0px !important;

}

.null-bMargin {


	margin-bottom: 0px !important;

}

.success, .error, .warning {

	text-align: center;
	border: 1px solid #ccc;
	margin: 20px;
	background: #f3f3f3;
	padding: 40px;
	font-weight:bold;

}

.error {

	color: #f00;

}

.success {

	color: #0f0;

}

.warning {

	color: #DBD804;

}